.NavBar {
  min-height: 3rem;
  background-color: wheat;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  text-align: center;
  p {
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    display: block;
    bottom: 15px;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.685);
    &:hover {
      color: white;
      font-weight: bolder;
      text-decoration: underline;
    }
  }
  .NavBarDiv {
    left: 2rem;
    top: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    .DivTienda {
      justify-self: flex-start;
    }
    .DivOtros {
      right: 2rem;
      top: 1rem;
      display: flex;
      gap: 1rem;
      flex-direction: row;
      width: 25rem;
      img {
        width: 1rem;
      }
    }
  }
}
