.NavBar{
    width: 100%;
    .NavBarDiv{
        position: relative;
        display: flex;
        justify-content:space-between;
        .DivTienda{
            justify-self: flex-start;
        }
        .DivOtros{
            display: flex;
            gap: 4rem;
            flex-direction: row;
            width: 20rem;
        }
    }
}
